<?xml version="1.0"?>

<model>
  <name>Forest_landing</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jason</name>
    <email>jasonale3007@gmail.com</email>
  </author>

  <description>
    A model of a landing in the middle of the forest.
  </description>

</model>
